<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../CSS/index.css" />

  <!-- Favicon attachments -->
  <!-- <link rel="shortcut icon" type="image/x-icon" href="./favicon_package_v0.16/favicon.ico" /> -->
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon_package_v0.16/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon_package_v0.16/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon_package_v0.16/favicon-16x16.png" />
  <link rel="manifest" href="./favicon_package_v0.16/site.webmanifest" />
  <link rel="mask-icon" href="./favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
  <!-- Favicon attachments -->
  <title>Surabhi Music Academy</title>
</head>

<body>
  <!-- <header> -->
  <!-- <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
      <span class="sr-only">Menu</span>
      <div id="header-ham">
        <div class="hambar hambar-1"></div>
        <div class="hambar hambar-2"></div>
        <div class="hambar hambar-3"></div>
      </div>
    </button> -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-logo" href="index.html">
        <img src="../images/surabhi_trademark_nobg.png" alt="Surabhi Music for Health" width="60" height="60"
          class="d-inline-block align-top logo" />
      </a>
      <div class="navbar-elements">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link links" style="padding: 27px 25px;" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link links" style="padding: 27px 25px;" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link links" style="padding: 27px 25px;" href="#events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link links" style="padding: 27px 25px;" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link links" style="padding: 27px 25px;" href="#classes">Classes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link links" style="padding: 27px 25px;" href="#contacts">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="main-container section" id="home">
    <div class="is-container">
      <div class="is-card">
        <img src="../images/sir_sitting_MO_hd.png" width="535" />
      </div>
      <div class="row row-main-heading is-centered is-container">
        <div class="is-card main-heading">
          <div style="height: 10px; width: 100px; background: #6b1e18; margin-top: 50px; margin-left: 0px;"
            id="1632459387318">
          </div>
          <h1 class="header-title">Guru Shishya Parampara</h1>
          <p class="header-name">By Sunil Patil</p>
        </div>
      </div>
    </div>

  </div>
  <div class="intro-container section" id="about">
    <div class="intro-para-body is-container">
      <div class="intro-para">
        <div style="height: 5px; width: 100px; background: #6b1e18; margin-top: 50px;">
        </div>
        <h1 class="animate-left">Guruji Shri Sunil Patil</h1>
        <div>
          <p>
            Established in 2009 by Shri Sunil Patil, Surabhi Music Academy
            pays homage to the time-honored tradition of Guru Shishya
            Parampara (teacher-disciple relationship). Sunil Patil, a disciple
            of Pt.Shri Vivek Sonar from the Maihar Gharana ( a senior disciple
            of Pt. Hariprasad Chaurasia), exemplifies virtuosity in both the
            mouth organ and flute, dedicating his life to music, teaching, and
            the advancement of the Mouth Organ. He has foundation in
            Hindustani Classical Music since childhood.
          </p>
          <p>
            His passion for the instrument gave rise to the annual Harmonica
            Festival, a platform showcasing the world's finest mouth organ
            talents. Not only does this event promote the instrument
            nationally, but it also offers students the opportunity to display
            their skills in front of a vast audience alongside seasoned
            masters.
          </p>
          <p>
            His fervent dedication to disseminating music for the betterment
            of society has led to the cultivation of a substantial following
            of disciples in both Harmonica and Flute. He offers training in
            both instruments through both offline and online modalities.
          </p>
        </div>

      </div>
      <div class="is-card ">
        <img src="../images/sir_flute_D.png" width="535" style="border-radius: 10px;" class="animate-right" />
      </div>
    </div>
  </div>

  <div class="contact-container is-container section" id="contacts">
    <div class="contact-details">
      <div class="contact-info">
        <h1>Surabhi Music Academy</h1>
        <h2>Contact Us</h2>
        <p>B-2, Katepuram Society (Phase 1), </p>
        <p>New Sangvi, Pimple Gurav </p>
        <p>Pune, Maharashtra-411061</p>
        <p>Phone: 9923155267, 8668204290</p>
      </div>

      <div class="is-social is-container" data-aos="fade-up">
        <a href="#" title="">
          <i class="icon ion-social-twitter"></i>
        </a>
        <a href="https://www.facebook.com/people/Surabhi-Music-Academy/100063698980654/" title="">
          <i class="icon ion-social-facebook"></i>
        </a>
        <a href="https://wa.me/9923155267?text=I%20want%20to%20learn%20flute%2Fmouth%20organ%20"
          rel="noopener noreferrer" title="">
          <i class="icon ion-social-whatsapp"></i>
        </a>
        <a href="https://www.youtube.com/@surabhimusic6581" title="">
          <i class="icon ion-social-youtube"></i>
        </a>
        <a href="https://www.instagram.com/sunilpatilpune/" title="">
          <i class="icon ion-social-instagram"></i>
        </a>
      </div>
    </div>
    <div class="google-map">
      <iframe frameborder="no" scrolling="yes" marginheight="10" marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=100&amp;hl=en&amp;q=surabhi%20music%20academy,%20Pune+(Surabhi%20Music%20Academy)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        <a href="https://www.gps.ie/">gps trackers</a></iframe>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="../script.js"></script>
  <script src="../nav.js"></script>
  <script src="../JS/animations.js"></script>

</body>
</html>